body {
    background-image: linear-gradient(#A6E9EA, white);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin: 0px;
    margin-top: 15px;
}

.buttonsbox {
    display: block;
    margin: auto;
}

#first,
#last {

    height: 50px;
    font-family: "Casual Softcore";
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
}

#filters {
    height: 50px;
    font-size: 20px;
    margin-left: 50px;

}

#filters a {
    text-decoration: none;
    margin: 7px;
    font-size: 20px;
    color: #259DE8;
}

#filters a:hover {
    text-decoration: underline;
}

#first {
    background-color: #8FD7E8;

}

/* #age {
    background-color: #8FD7E8;
} */

#last,
#hobby {
    background-color: #259DE8;
}

#first:hover,
#age:hover {
    box-shadow: 0;
    text-decoration: underline;
}

#last:hover {
    box-shadow: 0;
    text-decoration: underline;
}



tr:nth-child(even) {
    background: #A6E9EA;
}

tr:nth-child(odd) {
    background: #D0F1F2;
}



td button {
    background: rgba(0, 0, 0, 0);
    border-radius: 12px;
    font-size: 15px;
}


#bigContainer {
    width: 720px;
    height: 540px;
    margin-left: 50px;
    border: 5px solid white;
    overflow: scroll;
}

td {
    font-size: 20px;
    text-align: center;
    height: 50px;
    padding: 5px;

}

.delete-btn {
    background: rgba(0, 0, 0, 0);
    border-radius: 12px;
    font-size: 15px;
}

th {
    height: 40px;

}

.info {
    font-family: sans-serif;
    font-size: 20px;
    position: fixed;
    text-align: center;
    padding: 10px;

    /* bottom: 0px; */
    right: 130px;
    width: 400px;
    top: 200px;

}